
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    letter-spacing: 1.2px;
    font-style: normal;
}